.advantages {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 3%, rgba(248, 249, 252, 1) 3%);
}

.advantages__wrapper {
  padding-top: 149px;
  padding-bottom: 85px;
}

.advantages__title {
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: calc(1em/33);
  line-height: 100%;
  color: $color-sapphire;
  text-align: center;
  margin: 0;
  padding-left: 11px;
}

.advantages__list {
  padding: 0;
  margin: 32px 44px 0 47px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.advantages__item {
  display: flex;

  &--center {
    flex-direction: column;
    align-items: center;
    background-color: $color-resolution-blue;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
    width: 67%;
    height: 90%;
    padding: 10px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    color: $color-default-white;
    align-items: center;
  }

  &--left {
    .advantages__item-number {
      margin-left: 33px;
    }
  }

  &--upper {
    padding-bottom: 78px;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: calc(100% - 1px);
      height: 2px;
      background-color: $color-crimson-transparent;
    }
  }

  &--lower {
    padding-top: 53px;
  }
}

.advantages__item-number {
  display: flex;
  flex-direction: column;
}

.advantages__number {
  font-size: 71px;
  font-weight: 700;
  line-height: 150%;

  &--gradient {
    background: linear-gradient(143deg, #D10A42 0%, #0041CA 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &--center {
    font-size: 74px;
    margin-top: 44px;
    padding-right: 5px;
    line-height: 100%;
    color: $color-default-white;
  }
}

.advantages__number-description {
  font-size: 14px;
  line-height: 150%;
  color: $color-persian-blue;
  margin-top: -22px;
  max-width: 130px;
}

.advantages__item-text {
  display: flex;
  flex-direction: column;
  margin-left: 30px;

  &--5plus {
    margin-left: 32px;
  }
}

.advantages__item-title {
  font-size: 22px;
  line-height: 150%;
  font-weight: 700;
  color: $color-sapphire;
  margin: 0;
  margin-top: 21px;

  &--center {
    color: $color-default-white;
    font-size: 26px;
    margin-top: 2px;
  }
}

.advantages__item-description {
  line-height: 140%;
  font-weight: 300;
  color: $color-sapphire;
  margin-top: 6px;

  &--center {
    color: $color-default-white;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    margin: 31px 5px 0;
    text-align: center;
  }
}

@include tablet-width-max {
  .advantages {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(248, 249, 252, 1) 0%);
  }

  .advantages__wrapper {
    padding-top: 95px;
    padding-bottom: 93px;
  }

  .advantages__title {
    font-size: 42px;
    padding-left: 0;
    padding-right: 22px;
  }

  .advantages__list {
    margin: 0;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  .advantages__item {
    &--center {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      width: 65%;
      height: 100%;
    }

    &--left {
      .advantages__item-number {
        margin-left: 0;
      }
    }

    &--right {
      margin-left: 10px;
    }

    &--upper {
      padding-bottom: 15px;

      &::after {
        display: none;
      }

      .advantages__number {
        margin-top: 31px;
      }
    }

    &--lower {
      padding-top: 56px;

      .advantages__item-title {
        margin-top: 0;
      }

      .advantages__item-text {
        margin-top: 15px;
      }
    }
  }

  .advantages__number {
    font-size: 58px;

    &--center {
      font-size: 74px;
      margin-top: 24px;
    }
  }

  .advantages__number-description {
    margin-top: -18px;
  }

  .advantages__item-title {
    font-size: 20px;
    margin-top: 46px;

    &--center {
      margin-top: 0;
      letter-spacing: calc(1em / 17);
    }
  }

  .advantages__item-description {
    margin-top: 1px;

    &--center {
      width: 50%;
      margin-top: 15px;
    }
  }
}

@include mobile-width-max {
  .advantages__list {
    display: flex;
    flex-direction: column;
  }

  .advantages__item {
    flex-direction: column;
  }

  .advantages__title {
    font-size: 32px;
    padding-right: 18px;
  }

  .advantages__wrapper {
    padding-top: 67px;
  }
}
