.coaches {
  background-color: $color-default-white;
  margin-top: -1px;
  padding-top: 58px;
}

.coaches__title {
  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  letter-spacing: 2px;
  margin: 0;
  margin-left: 104px;
  display: block;
  line-height: 80%;
  color: $color-sapphire;
}

.coaches__wrapper {
  position: relative;

  &--swiper {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 92px;
  }
}

.coaches__swiper {
  margin-top: 59px;
  margin-left: 103px;
  margin-right: 103px;
}

.coaches__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.coaches__item {
  width: 100%;
  max-width: 260px;
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-top: 113%;
  }

  @include hover {
    .coaches__item-content {
      z-index: 2;
    }

    .coaches__button-cover {
      color: $color-transparent;
    }
  }
}

.coaches__item:focus-within {
  .coaches__item-content {
    z-index: 2;
  }

  .coaches__button-cover {
    color: $color-transparent;
  }
}

.coaches__item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-sapphire-transparent;
  overflow-y: scroll;
  padding: 10px;
}

.coaches__item-content:focus-within {
  z-index: 2;
}

.coaches__content-list {
  font-size: 14px;
  line-height: 150%;
  margin-top: 33px;
  padding: 0;
  list-style-type: none;
}

.coaches__content-item {
  margin-bottom: 13px;
  display: flex;
  margin-left: 24px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: $color-default-white;
    border-radius: 50%;
    left: -16px;
    top: 7px;
  }
}

.coaches__item-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-silver;

  &--first,
  &--five {
    background-image: url("../img/coaches/coache-pavlova.jpg");

    @include retina {
      background-image: url("../img/coaches/coache-pavlova@2x.jpg");
    }
  }

  &--two,
  &--six {
    background-image: url("../img/coaches/coache-lavrov.jpg");

    @include retina {
      background-image: url("../img/coaches/coache-lavrov@2x.jpg");
    }
  }

  &--three,
  &--seven {
    background-image: url("../img/coaches/coache-pashkov.jpg");

    @include retina {
      background-image: url("../img/coaches/coache-pashkov@2x.jpg");
    }
  }

  &--four,
  &--eight {
    background-image: url("../img/coaches/coache-ketova.jpg");

    @include retina {
      background-image: url("../img/coaches/coache-ketova@2x.jpg");
    }
  }
}

.coaches__button-cover {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border: none;
  background-color: $color-transparent;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  width: 100%;
  height: 100%;
  color: $color-default-white;
  padding-bottom: 23px;

  @include focus {
    outline: none;
    border: 1px solid $color-sapphire;
  }
}

.coaches__title-item {
  text-align: center;

  &--content {
    margin: 0;
    margin-top: 46px;
    color: $color-default-white;
    font-size: 18px;
    line-height: 105%;
    font-weight: 700;
  }
}

.coaches__direction {
  text-align: center;
  color: $color-spindle;
}

.coaches__item-button-prev {
  &--mystyle {
    left: 46px;
    width: 16px;
    height: 32px;
    margin-top: -12px;

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 32px;
      background-image: url('../img/coaches/button-swiper-prev.png');
      background-size: 16px 32px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &::after {
      display: none;
    }

    @include hover-focus {
      filter: brightness(0.1);
    }
  }
}

.coaches__item-button-next {
  &--mystyle {
    right: 46px;
    width: 16px;
    height: 32px;
    margin-top: -12px;

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 32px;
      background-image: url('../img/coaches/button-swiper-next.png');
      background-size: 16px 32px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &::after {
      display: none;
    }

    @include hover-focus {
      filter: brightness(0.1);
    }
  }
}

@include desktop {
  .coaches__item-cover {
    &--first,
    &--five {
      background-size: 260px 390px;
      background-position: 0 -39px;
    }

    &--two,
    &--six {
      background-size: 312px 468px;
      background-position: -48px -36px;
    }

    &--three,
    &--seven {
      background-size: 260px 462px;
      background-position: 0 -24px;
    }

    &--four,
    &--eight {
      background-size: 354px 530px;
      background-position: -48px -57px;
    }
  }
}

@include tablet-width-max {
  .coaches {
    padding-top: 47px;
  }

  .coaches__wrapper {
    padding-bottom: 100px;

    &--swiper {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .coaches__title {
    font-size: 42px;
    text-align: center;
    letter-spacing: 1px;
    padding-right: 6px;
    margin-left: 0;
  }

  .coaches__swiper {
    margin-top: 40px;
    margin-left: 101px;
    margin-right: 101px;
  }

  .coaches__item {
    min-width: 268px;
    max-width: 500px;
    &::before {
      padding-top: 110%;
    }
  }

  .coaches__item-content {
    padding-left: 2px;
  }

  .coaches__button-cover {
    padding-left: 13px;
  }

  .coaches__item-button-prev {
    &--mystyle {
      left: 44px;
      margin-top: -30px;
    }
  }

  .coaches__item-button-next {
    &--mystyle {
      right: 44px;
      margin-top: -30px;
    }
  }
}

@include tablet {
  .coaches__item-cover {
    &--three,
    &--seven {
      background-size: 268px 476px;
      background-position: 0 -32px;
    }

    &--four,
    &--eight {
      background-size: 345px 518px;
      background-position: -39px -52px;
    }
  }
}

@include mobile-width-max {
  .coaches {
    padding-top: 30px;
  }

  .coaches__list {
    display: flex;
  }

  .coaches__title {
    font-size: 32px;

  }

  .coaches__wrapper {
    padding-bottom: 70px;
  }

  .coaches__swiper {
    margin-top: 49px;
    margin-left: 47px;
    margin-right: 47px;
  }

  .coaches__item {
    min-width: 100px;
    max-width: 675px;
    &::before {
      padding-top: 121%;
    }
  }

  .coaches__title-item {
    &--content {
      margin-top: 36px;
    }
  }

  .coaches__item-content {
    padding-left: 10px;
  }

  .coaches__content-item {
    margin-left: 17px;
  }

  .coaches__item-button-prev {
    &--mystyle {
      left: 15px;
      width: 10px;
      height: 19px;
      margin-top: -8px;

      &::before {
        width: 10px;
        height: 19px;
        background-size: 10px 19px;
      }
    }
  }

  .coaches__item-button-next {
    &--mystyle {
      right: 15px;
      width: 10px;
      height: 19px;
      margin-top: -8px;

      &::before {
        width: 10px;
        height: 19px;
        background-size: 10px 19px;
      }
    }
  }
}

@include mobile {
  .coaches__item-cover {
    &--three,
    &--seven {
      background-size: 226px 443px;
      background-position: 0 -29px;
    }
  }
}
