.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 41px;
}

.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &--contact {
    padding-left: 60px;
    margin-left: 4px;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 77%;
      background-color: $color-light-slate-grey;
      left: 0;
      bottom: 24px;
    }
  }

  &--address {
    padding-left: 4px;
  }
}

.contacts__item {
  margin-bottom: 16px;
}

.contacts__item-title {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
}

.contacts__item-description {
  font-size: 14px;
  display: block;
  margin-top: 2px;
  color: $color-sapphire;

  &--link {
    @include hover-focus {
      outline: 1px solid $color-sapphire;
    }
  }
}


@include tablet-width-max {
  .contacts__item-title {
    font-size: 20px;
  }

  .contacts__item-description {
    font-size: 18px;
    margin-top: 10px;
  }

  .contacts__list {
    &--address {
      padding: 0;
    }

    &--contact {
      padding-left: 48px;
      margin-left: 15px;

      &::after {
        height: 78%;
        bottom: 32px;
      }
    }
  }

  .contacts__item {
    margin-bottom: 24px;
  }
}

@include mobile-width-max {
  .contacts {
    display: flex;
    flex-direction: column;
  }

  .contacts__list {
    &--contact {
      padding-left: 0;
      margin-left: 0;

      &::after {
        display: none;
      }
    }
  }

  .contacts__item-description {
    &--link {
      display: inline-block;
    }
  }
}
