.footer-container {
  background-color: $color-black-russian;
  margin-bottom: 0;
  margin-top: auto;
}

.footer-container__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-container__logo-wrapper {
  margin-top: 44px;
}

.footer-container__list-nav {
  margin: 21px 40px 0 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, auto);
  column-gap: 40px;
}

.footer-container__item-nav {
  margin-top: 20px;
  margin-bottom: 10px;

  &--logo {
    padding-right: 237px;
    padding-top: 23px;
    margin-top: 0;
    grid-area: 1 / 2 / 1 / 1;
  }
}

.footer-container__item-link {
  color: $color-default-white;
  font-size: 14px;

  @include hover-focus {
    outline: 1px solid $color-default-white;
  }
}

.footer-container__link-logo {
  display: block;

  @include hover-focus {
    outline: 1px solid $color-default-white;
  }
}

.footer-container__logo {
  fill: $color-default-white;
}

@include tablet-width-max {
  .footer-container__wrapper {
    padding-right: 39px;
  }

  .footer-container__logo {
    width: 82px;
    height: 18px;
  }

  .footer-container__logo-wrapper {
    margin-top: 46px;
  }

  .footer-container__list-nav {
    column-gap: 30px;
  }

  .footer-container__item-nav {
    margin-top: 22px;

    &--logo {
      margin-top: 0;
      padding-top: 25px;
      padding-right: 32px;
    }
  }
}

@include mobile-width-max {
  .footer-container__wrapper {
    display: block;
    padding: 46px 11px 40px 15px;
    position: relative;
  }

  .footer-container__logo-wrapper {
    position: absolute;
    top: 48px;
    left: 15px;
    margin: 0;
  }

  .footer-container__logo {
    width: 68px;
    height: 15px;
  }

  .footer-container__list-nav {
    display: block;
    column-count: 2;
    margin: 0;
    padding: 0;
    row-gap: 16px;
    column-gap: 25px;
  }

  .footer-container__item-nav {
    margin: 0;
    margin-bottom: 15px;

    &--logo {
      padding-top: 2px;
    }
  }

  .footer-container__item-link {
    font-size: 16px;
  }
}
