.gym {
  background-color: $color-default-white;
  padding-top: 120px;
  padding-bottom: 120px;
  box-shadow: inset 0 4px 4px rgba(1, 28, 64, 0.25);
}

.gym__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
}

.gym__text {
  margin-left: 60px;
  color: $color-sapphire;
}

.gym__title {
  font-family: $ff-alumni;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: calc(1em/34);
  margin-top: 51px;
  margin-bottom: 5px;
  line-height: 32px;
}

.gym__size {
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin-top: 22px;
}

.gym__description {
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 0;

  &--two {
    margin-top: 8px;
    margin-bottom: 147px;
  }
}

.gym__media {
  margin-left: 1px;
  position: relative;
  width: 100%;
  height: 100%;
}

.gym__image {
  width: 90.4%;
  background-image: url("../img/description-club/club-image.jpg");
  background-size: cover;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;

  @include retina {
    background-image: url("../img/description-club/club-image@2x.jpg");
  }

  &::before {
    content: "";
    display: block;
    padding-top: 61%;
  }
}

.gym__video-wrapper {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 49.8%;
  margin-left: 7px;
  background-image: url("../img/description-club/club-image-video.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &--image-enabled {
    padding-bottom: 31.3%;
  }

  &--video-enabled {
    height: 44%;
  }

  &--enabled {
    cursor: pointer;

    .gym__button {
      display: block;
    }
  }

  @include retina {
    background-image: url("../img/description-club/club-image-video@2x.jpg");
  }
}

.gym__video-background {
  position: absolute;
  background-color: $color-dark-cerulean;
  width: 100%;
  padding-bottom: 63%;
}

.gym__button {
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-transparent;
  cursor: pointer;
  padding: 0;
  display: none;

  @include hover-focus {
    filter: brightness(150%);
    outline: none;
  }
}

.gym__iframe {
  width: 100%;
  height: 100%;
}

@include desktop {
  .gym__image {
    background-position: -1px -36px;
  }

  .gym__video-wrapper {
    background-size: 394px 262px;
    background-position: -4px -27px;
  }
}

@include tablet-width-max {
  .gym {
    padding-top: 100px;
    padding-bottom: 100px;
    box-shadow: none;
  }

  .gym__wrapper {
    display: flex;
    flex-direction: column;
  }

  .gym__media {
    width: 100%;
    margin-top: 44px;
    margin-left: 0;

    &::after {
      content: "";
      display: block;
      padding-top: 12.1%;
    }
  }

  .gym__text {
    margin: 0;
  }

  .gym__title {
    font-size: 42px;
    text-align: center;
    padding-right: 5px;
    margin-top: 9px;
    padding-right: 15px;
  }

  .gym__size {
    text-align: center;
    margin-top: 10px;
  }

  .gym__description {
    text-align: center;
    padding-left: 88px;
    padding-right: 88px;
    margin-top: 35px;

    &--two {
      display: none;
    }
  }

  .gym__image {
    width: 100%;
    margin: 0;
    position: relative;

    &::before {
      content: "";
      display: block;
      padding-top: 51%;
    }
  }

  .gym__video-wrapper {
    width: 39.2%;
    left: 30%;
    margin-left: 3px;

    &--image-enabled {
      padding-bottom: 25%;
    }

    &--video-enabled {
      height: 39%;
    }
  }

  .gym__video-background {
    padding-bottom: 64%;
  }

  .gym__button {
    top: 51%;
    left: 49%;
  }

  .gym__button-icon {
    width: 73px;
    height: 73px;
  }
}

@include tablet {
  .gym__image {
    background-size: 774px 403px;
    background-position: -94px -19px;
  }

  .gym__video-wrapper {
    background-size: 288px 192px;
    background-position: -2px -17px;
  }
}

@include mobile-width-max {
  .gym {
    padding-top: 66px;
    padding-bottom: 0;
  }

  .gym__title {
    margin: 0;
    text-align: start;
    padding: 0;
    font-size: 32px;
  }

  .gym__size {
    text-align: start;
  }

  .gym__description {
    padding: 0;
    text-align: start;
    margin-top: 26px;
    padding-right: 15px;
  }

  .gym__text {
    padding-left: 15px;
    padding-right: 15px;
  }

  .gym__media {
    margin-top: 33px;
    width: 100%;
    padding-bottom: 65%;
    margin-bottom: 68px;

    &::after {
      display: none;
    }
  }

  .gym__image {
    &::before {
      padding-top: 98%;
    }
  }

  .gym__video-wrapper {
    position: absolute;
    margin-left: 0;
    width: 100%;
    left: 0;
    bottom: 0;

    &--image-enabled {
      padding-bottom: 52%;
    }

    &--video-enabled {
      height: 32%;
    }
  }

  .gym__video-background {
    padding-bottom: 52%;
  }

  .gym__button {
    top: 50%;
    left: 50%;
  }
}

@include mobile {
  .gym__image {
    background-size: 469px 313px;
    background-position: -134px 0;
  }

  .gym__video-wrapper {
    background-size: 320px 213px;
    background-position: 0 -3px;
  }
}
