.home-page__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding-left: 94px;
}

.home-page__image-wrapper {
  padding-right: 200px;
}

.home-page__image {
  width: 100%;
  height: 100%;
  min-height: 556px;
  margin-top: -60px;
  margin-bottom: 52px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.home-page__description {
  display: flex;
  width: 100%;
  color: $color-default-white;
  margin-right: 13px;
}

.home-page__list {
  padding: 0;
  margin-top: 140px;
  margin-left: 43px;
  list-style-type: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
  min-width: 113px;
}

.home-page__item {
  text-align: end;
}

.home-page__group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home-page__sity {
  font-family: $ff-alumni;
  color: $color-default-white;
  font-size: 39px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  width: 118px;
  min-height: 37px;
  text-align: start;
  margin-top: 63px;
  margin-right: 77px;
  letter-spacing: calc(1em / 11);
  line-height: 41px;
}

.home-page__title {
  margin: 0;
  text-align: end;
  font-family: $ff-alumni;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 110px;
  max-width: 266px;
  margin-top: 19px;
  margin-right: 0;
  letter-spacing: calc(1em / 29);
}

.home-page__link {
  color: $color-default-white;
  border: 4px solid $color-default-white;
  font-family: $ff-roboto;
  text-transform: uppercase;
  width: 234px;
  min-height: 60px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  letter-spacing: calc(1em / 18);
  padding-top: 15px;
  margin-top: 50px;
  margin-right: 61px;

  @include hover-focus {
    outline: none;
    background-color: $color-white-transparent;
  }
}

@include desktop-width-min {
  .home-page__image {
    background-image: url("../img/page-block/home-page.jpg");

    @include retina {
      background-image: url("../img/page-block/home-page@2x.jpg");
    }
  }
}

@include tablet-width-max  {
  .home-page {
    min-height: 390px;
    padding-bottom: 93px;
  }
  .home-page__description {
    margin: 0;
    justify-content: space-between;
  }

  .home-page__wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 27px;
  }

  .home-page__list {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    margin: 0;
    margin-top: 93px;
    font-weight: 600;
  }

  .home-page__sity {
    font-size: 28px;
    width: auto;
    margin-right: 3px;
  }

  .home-page__title {
    font-size: 72px;
    text-transform: none;
    line-height: 118%;
    margin-top: 5px;
    max-width: 200px;
  }

  .home-page__link {
    width: 187px;
    min-height: 61px;
    margin-top: 38px;
    margin-right: 0;
  }

  .home-page__image-wrapper {
    padding-right: 0;
    max-height: 390px;
  }

  .home-page__image {
    margin-top: 0;
    margin-bottom: 52px;
    background-image: url("../img/page-block/home-page-tablet.jpg");
    background-size: 324px 390px;
    background-position: top;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 83px;

    @include retina {
      background-image: url("../img/page-block/home-page-tablet@2x.jpg");
    }

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
}

@include mobile-width-max {
  .home-page {
    padding-bottom: 0;
  }

  .home-page__image-wrapper {
    display: none;
  }

  .home-page__wrapper {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home-page__description {
    position: relative;
  }

  .home-page__list {
    position: absolute;
    margin-top: 86px;
  }

  .home-page__group {
    width: 100%;
  }

  .home-page__sity {
    margin-top: 57px;
    margin-right: 2px;
    font-size: 23px;
  }

  .home-page__title {
    margin-top: 8px;
    line-height: 120%;
    margin-left: auto;
  }

  .home-page__link {
    margin-top: 22px;
    width: 100%;
    margin-bottom: 80px;
  }
}
