.page-block__wrapper {
  display: flex;
  justify-content: space-between;
}

.page-block__image {
  margin-right: 200px;
  margin-top: -60px;
  margin-bottom: 52px;
}

.page-block__description {
  display: flex;
  color: $color-default-white;
}

.page-block__list {
  padding: 0;
  margin-top: 245px;
  margin-left: 20px;
  list-style-type: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
}

.page-block__item {
  text-align: end;
}

.page-block__group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.page-block__sity {
  display: block;
  width: 133px;
  height: 37px;
  text-align: start;
  font-family: $ff-alumni;
  font-size: 37px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 73px;
}

.page-block__group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.page-block__title {
  // display: block;
  // text-align: end;
  // font-family: $ff-alumni;
  // font-size: 92px;
  // font-weight: 600;
  // letter-spacing: 5px;
  // text-transform: uppercase;
  // line-height: 110px;
}
