.page-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.page-header__phone {
  color: $color-default-white;
  margin-top: 34px;
  margin-bottom: 30px;
  margin-right: 2px;
  font-family: $ff-alumni;
  font-size: 21px;
  font-weight: 600;
}
