.reviews {
  background-color: $color-default-white;
  margin-top: -1px;
}

.reviews__wrapper {
  padding-top: 7px;
  padding-bottom: 104px;
}

.reviews__swiper-wrapper {
  position: relative;
  width: 48%;
  margin-left: 300px;
  margin-right: 300px;
}

.reviews__swiper {
  margin-top: 26px;
}

.reviews__title {
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  text-align: center;
  line-height: 100%;
  letter-spacing: calc(1em / 30);
  margin: 0;
  padding-left: 9px;
  color: $color-sapphire;
}

.reviews__list {
  list-style-type: none;
  padding: 0;
}

.reviews__item {
  color: $color-default-white;
  background-color: $color-resolution-blue;
  padding: 62px;
  padding-right: 58px;
  padding-bottom: 56px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 80px auto;
  column-gap: 28px;
}

.reviews__user-photo {
  width: 66%;
  min-width: 80px;
  padding-top: 18%;
  margin-top: 2px;
  height: 80px;
  border-radius: 50%;
  background-image: url('../img/reviews/review-image-user.jpg');
  background-color: $color-silver;
  background-size: 126px 174px;
  background-position: -26px -17px;
  background-repeat: no-repeat;
  grid-row: 1 / 3;
}

.reviews__user-info {
  margin-left: 28px;
  max-width: 329px;
}

.reviews__user-text {
  display: block;
  margin-top: 17px;
  line-height: 144%;
}

.reviews__user-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 90%;
  margin: 0;
}

.reviews__button-prev {
  &--mystyle {
    position: absolute;
    left: -56px;
    top: calc(50% - 16px);
    width: 16px;
    height: 32px;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 32px;
      background-image: url('../img/coaches/button-swiper-prev.png');
      background-size: 16px 32px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &::after {
      display: none;
    }

    @include hover-focus {
      filter: brightness(0.1);
    }
  }
}

.reviews__button-prev--mystyle[aria-disabled="true"] {
  @include hover-focus {
    filter: brightness(1);
    cursor: default;
    outline: none;
  }
}

.reviews__button-next {
  &--mystyle {
    position: absolute;
    right: -56px;
    top: calc(50% - 16px);
    width: 16px;
    height: 32px;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 32px;
      background-image: url('../img/coaches/button-swiper-next.png');
      background-size: 16px 32px;
      background-position: center;
      background-repeat: no-repeat;
    }

    &::after {
      display: none;
    }

    @include hover-focus {
      filter: brightness(0.1);
    }
  }
}

.reviews__button-next--mystyle[aria-disabled="true"] {
  @include hover-focus {
    filter: brightness(1);
    cursor: default;
    outline: none;
  }
}

@include tablet-width-max {
  .reviews__title {
    font-size: 42px;
    padding-left: 0;
    padding-right: 4px;
  }

  .reviews__wrapper {
    padding-top: 40px;
    padding-bottom: 83px;
  }

  .reviews__swiper-wrapper {
    width: auto;
    margin-top: 29px;
    margin-left: 56px;
    margin-right: 56px;
  }

  .reviews__user-photo {
    width: 80px;
    height: 80px;
    padding-top: 0;
  }

  .reviews__user-info {
    max-width: 100%;
  }

  .reviews__item {
    padding-left: 65px;
    padding-top: 61px;
  }
}

@include mobile-width-max {
  .reviews__title {
    font-size: 32px;
  }

  .reviews__wrapper {
    padding-top: 10px;
    padding-bottom: 55px;
  }

  .reviews__swiper-wrapper {
    margin-top: 30px;
    margin-left: 46px;
    margin-right: 46px;
  }

  .reviews__item {
    padding: 40px 23px 34px;
    column-gap: 15px;
    grid-template-columns: 86px auto;
  }

  .reviews__button-prev {
    &--mystyle {
      left: -32px;
    }
  }

  .reviews__button-next {
    &--mystyle {
      right: -32px;
    }
  }

  .reviews__user-photo {
    width: 68px;
    min-width: 68px;
    height: 68px;
    margin-left: 19px;
    margin-top: 0;
    background-size: 106px 148px;
    background-position: -21px -14px;
    grid-row: 1 / 2;
  }

  .reviews__user-info {
    margin: 0;
  }

  .reviews__user-name {
    line-height: 125%;
    margin-top: 9px;
  }

  .reviews__user-text {
    margin-top: 15px;
    text-align: center;
    line-height: 140%;
    grid-column: 1 / -1;
  }

  .reviews__button-prev {
    &--mystyle {
      width: 10px;
      height: 19px;
      left: -31px;
      top: calc(50% - 9px);

      &::before {
        width: 10px;
        height: 19px;
        background-size: 10px 19px;
      }
    }
  }

  .reviews__button-next {
    &--mystyle {
      width: 10px;
      height: 19px;
      right: -31px;
      top: calc(50% - 9px);

      &::before {
        width: 10px;
        height: 19px;
        background-size: 10px 19px;
      }
    }
  }
}
