.stocks {
  margin-top: -1px;
  background-color: $color-default-white;
  padding-top: 117px;
  padding-bottom: 117px;
}

.stocks__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.stocks__item {
  display: flex;
  flex-direction: column;
  border: 7px solid transparent;
  border-image: linear-gradient(120deg, #d10a42 0%, #0041ca 110%);
  border-image-slice: 1;
  padding: 18px 28px 20px;
  min-height: 212px;
}

.stocks__item-title {
  margin: 0;
  font-size: 26px;
  line-height: 150%;
  font-weight: 700;
  color: $color-sapphire;
}

.stocks__item-description {
  color: $color-sapphire;
  line-height: 150%;
  margin-top: 1px;
  margin-bottom: 10px;
}

.stocks__item-link {
  display: block;
  color: $color-sapphire;
  font-size: 12px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: calc(1em / 20);
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: auto;
  margin-right: auto;
  border-bottom: 1px solid $color-sapphire;

  @include hover-focus {
    outline: 1px solid $color-sapphire;
  }
}

.stocks__title {
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  text-align: center;
  line-height: 75%;
  letter-spacing: 2px;
  margin-left: 103px;
  margin-right: 103px;
  margin-bottom: 46px;
  color: $color-sapphire;
}

.stocks__main-stock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1 / 3;
}

.stocks__main-stock-text {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: $color-torch-red;
  color: $color-default-white;
  padding: 0 45px;
}

.stocks__main-stock-name {
  font-size: 28px;
  line-height: 156%;
  font-weight: 700;
  margin-top: 34px;
}

.stocks__main-stock-price {
  font-size: 70px;
  font-weight: 700;
  margin-top: 18px;
}

.stocks__main-stock-description {
  font-size: 18px;
  line-height: 140%;
  margin-top: 41px;
}

.stocks__main-stock-link {
  display: block;
  color: $color-default-white;
  font-size: 14px;
  font-weight: 700;
  line-height: 112%;
  letter-spacing: calc(1em / 20);
  text-transform: uppercase;
  margin-bottom: 47px;
  margin-top: auto;
  margin-right: auto;
  border-bottom: 1px solid $color-default-white;

  @include hover-focus {
    outline: 1px solid $color-default-white;
  }
}

.stocks__main-stock-image {
  padding-top: 165%;
  background-color: $color-dodger-blue;
  background-image: url("../img/stocks/stocks-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include retina-desctop {
    background-image: url("../img/stocks/stocks-image@2x.jpg");
  }

  @include retina-tablet {
    background-image: url("../img/stocks/stocks-image-tablet@2x.jpg");
  }

  @include retina-mobile {
    background-image: url("../img/stocks/stocks-image-mobile@2x.jpg");
  }
}

@include tablet-width-max {
  .stocks {
    padding-top: 66px;
    padding-bottom: 55px;
  }

  .stocks__title {
    font-size: 42px;
    padding-right: 8px;
  }

  .stocks__list {
    margin-top: 50px;
    gap: 30px;
  }

  .stocks__main-stock {
    grid-column: 1 / -1;
    grid-template-columns: 41% 59%;
  }

  .stocks__main-stock-text {
    padding: 0 44px;
  }

  .stocks__main-stock-image {
    padding-top: 115%;
    background-image: url("../img/stocks/stocks-image-tablet.jpg");
  }

  .stocks__main-stock-name {
    line-height: 164%;
  }

  .stocks__main-stock-price {
    margin-top: 0;
    line-height: 75%;
  }

  .stocks__main-stock-description {
    margin-top: 29px;
  }

  .stocks__main-stock-link {
    margin-bottom: 47px;
  }

  .stocks__item-description {
    &--one {
      padding-right: 28px;
    }
  }

  .stocks__item-link {
    margin-bottom: 9px;
  }
}

@include mobile-width-max {
  .stocks__title {
    font-size: 32px;
    margin-top: 4px;
    letter-spacing: calc(1em / 34);
    padding-right: 5px;
  }

  .stocks__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .stocks__main-stock {
    display: flex;
    flex-direction: column;
  }

  .stocks__main-stock-text {
    padding: 0;
    text-align: center;
  }

  .stocks__main-stock-name {
    margin-top: 33px;
  }

  .stocks__main-stock-price {
    margin-top: 2px;
  }

  .stocks__main-stock-description {
    margin-top: 22px;
  }

  .stocks__main-stock-link {
    margin-left: auto;
    margin-top: 32px;
    margin-bottom: 45px;
  }

  .stocks__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .stocks__main-stock-image {
    padding-top: 103%;
    background-image: url("../img/stocks/stocks-image-mobile.jpg");
  }

  .stocks__item {
    text-align: center;
    padding: 29px 28px;
  }

  .stocks__item-description {
    margin-top: 3px;
    line-height: 139%;

    &--one {
      padding-right: 0;
    }
  }

  .stocks__item-link {
    margin-left: auto;
    margin-bottom: 11px;
  }
}
